In [ ]:
#use in the Capstone project part

In [ ]:
import pandas as pd
import numpy as np
from collections import OrderedDict

In [ ]:
df = pd.read_excel('xiaomi original data.xlsx')

In [ ]:
df.head()

,Customer,Day,Browser,No. of Clicks,Pages Viewed,Time (min),Amount Spent (Rs.)
0,1,Monday,Chrome,13,4,8.5,2668.0
1,2,Saturday,Chrome,15,5,16.9,3469.0
2,3,Monday,Internet Explorer,20,6,7.3,5215.0
3,4,Monday,Chrome,42,6,30.1,10423.0
4,5,Saturday,Internet Explorer,20,6,13.3,5404.0

In [ ]:
df.kurt()

<ipython-input-6-8bd0d54cd88d>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.kurt()

Customer             -1.200000
No. of Clicks         0.025564
Pages Viewed          0.034871
Time (min)            2.053011
Amount Spent (Rs.)    0.673882
dtype: float64

In [ ]:
df.skew()

<ipython-input-7-9e0b1e29546f>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.skew()

Customer              0.000000
No. of Clicks         0.677900
Pages Viewed          0.626857
Time (min)            1.406018
Amount Spent (Rs.)    1.017343
dtype: float64

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Customer,43200.0,21600.50,12470.910151,1.0,10800.75,21600.5,32400.25,43200.0
No. of Clicks,43200.0,23.74,8.267647,8.0,18.00,22.5,29.00,46.0
Pages Viewed,43200.0,4.82,2.016853,2.0,3.00,4.5,6.00,10.0
Time (min),43200.0,12.81,6.002444,4.3,8.50,11.4,15.10,32.9
Amount Spent (Rs.),43200.0,6812.82,3201.905731,1784.0,4473.00,6215.0,8412.00,15851.0

## They want output for outliers, skewness, kurtosis, variance, outlier comment, skewness comment, kurtosis comment.

## Create your own custom summary for this data.

In [ ]:
##  break till- 11.18am-

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43200 entries, 0 to 43199
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer            43200 non-null  int64
 1   Day                 43200 non-null  object
 2   Browser             43200 non-null  object
 3   No. of Clicks       43200 non-null  int64
 4   Pages Viewed        43200 non-null  int64
 5   Time (min)          43200 non-null  float64
 6   Amount Spent (Rs.)  43200 non-null  float64
dtypes: float64(2), int64(3), object(2)
memory usage: 2.3+ MB

In [ ]:
df.head()

,Customer,Day,Browser,No. of Clicks,Pages Viewed,Time (min),Amount Spent (Rs.)
0,1,Monday,Chrome,13,4,8.5,2668.0
1,2,Saturday,Chrome,15,5,16.9,3469.0
2,3,Monday,Internet Explorer,20,6,7.3,5215.0
3,4,Monday,Chrome,42,6,30.1,10423.0
4,5,Saturday,Internet Explorer,20,6,13.3,5404.0

In [ ]:
df.describe()

,Customer,No. of Clicks,Pages Viewed,Time (min),Amount Spent (Rs.)
count,43200.000000,43200.000000,43200.000000,43200.000000,43200.000000
mean,21600.500000,23.740000,4.820000,12.810000,6812.820000
std,12470.910151,8.267647,2.016853,6.002444,3201.905731
min,1.000000,8.000000,2.000000,4.300000,1784.000000
25%,10800.750000,18.000000,3.000000,8.500000,4473.000000
50%,21600.500000,22.500000,4.500000,11.400000,6215.000000
75%,32400.250000,29.000000,6.000000,15.100000,8412.000000
max,43200.000000,46.000000,10.000000,32.900000,15851.000000

In [ ]:
df.columns

Index(['Customer', 'Day', 'Browser', 'No. of Clicks', 'Pages Viewed',
       'Time (min)', 'Amount Spent (Rs.)'],
      dtype='object')

In [ ]:
columns = []
for i in df.columns:
    if df[i].dtype != 'object':
        columns.append(i)

In [ ]:
columns

['Customer',
 'No. of Clicks',
 'Pages Viewed',
 'Time (min)',
 'Amount Spent (Rs.)']

### custom summary for only continous columns

In [ ]:
dict = {'a' : 1, 'b': 2, "c" : 3}

In [ ]:
dict

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
## Ordered Dict- it remembers the order in which you are passing the column name
# jo order me aap columns pass kar rahe ho, wohi order me aapko output milega.

![image.png](attachment:image.png)

In [ ]:
def custom_summary(my_df):
    result = []
    for col in my_df.columns:
        if my_df[col].dtype != 'object':
            #print(col)
            stats = OrderedDict({
                'Feature Name' : col ,
                'Count' : my_df[col].count() ,
                'Minimum' : my_df[col].min() ,
                'Quartile1' : my_df[col].quantile(.25) ,
                'Quartile2': my_df[col].quantile(.50),
                'Mean' : my_df[col].mean(),
                'Quartile3': my_df[col].quantile(.75),
                'Maximum' : my_df[col].max(),
                'Variance' : round(my_df[col].var(),0 ),
                'Standard Deviation' : my_df[col].std(),
                'Skewness' : my_df[col].skew(),
                'Kurtosis' : my_df[col].kurt()
                })
            result.append(stats)
    result_df = pd.DataFrame(result)
    #Skewness Type:
    Skewness_label = []
    for i in result_df['Skewness']:
        if i <= -1:
            Skewness_label.append('Highly Negatively Skewed')
        elif -1 < i <= -0.5:
            Skewness_label.append('Moderately Negatively Skewed')
        elif -0.5 < i < 0:
            Skewness_label.append('Fairly Negatively Skewed')
        elif 0 <= i < 0.5:
            Skewness_label.append('Fairly Positively Skewed')
        elif 0.5 <= i < 1:
            Skewness_label.append('Moderately Positively Skewed')
        elif i >= 1 :
            Skewness_label.append('Highly Positively Skewed')
    result_df['Skewness Comment'] = Skewness_label
    #Kurtosis Type:
    Kurtosis_label = []
    for i in result_df['Kurtosis'] :
        if i >= 1:
            Kurtosis_label.append('Leptokurtic curve')
        elif i <= -1:
            Kurtosis_label.append('Platykurtic curve')
        else :
            Kurtosis_label.append('Mesokurtic curve')
    result_df['Kurtosis Comment'] = Kurtosis_label
    return result_df

In [ ]:
custom_summary(df)

,Feature Name,Count,Minimum,Quartile1,Quartile2,Mean,Quartile3,Maximum,Variance,Standard Deviation,Skewness,Kurtosis,Skewness Comment,Kurtosis Comment
0,Customer,43200,1.0,10800.75,21600.5,21600.50,32400.25,43200.0,155523600.0,12470.910151,0.000000,-1.200000,Fairly Positively Skewed,Platykurtic curve
1,No. of Clicks,43200,8.0,18.00,22.5,23.74,29.00,46.0,68.0,8.267647,0.677900,0.025564,Moderately Positively Skewed,Mesokurtic curve
2,Pages Viewed,43200,2.0,3.00,4.5,4.82,6.00,10.0,4.0,2.016853,0.626857,0.034871,Moderately Positively Skewed,Mesokurtic curve
3,Time (min),43200,4.3,8.50,11.4,12.81,15.10,32.9,36.0,6.002444,1.406018,2.053011,Highly Positively Skewed,Leptokurtic curve
4,Amount Spent (Rs.),43200,1784.0,4473.00,6215.0,6812.82,8412.00,15851.0,10252200.0,3201.905731,1.017343,0.673882,Highly Positively Skewed,Mesokurtic curve

## Machine Learning
- end to end Capstone Project(everything in ML we will implement all in that)